{{ include('base.html.twig') }}

<body>
    <div class="container">
        <h1>JB's Distribution</h1>

        <li><a href="/stores">See Stores</a></li>

        <form action='/' method='post' class="form-group">
            <label for='brand-name'>Enter new brand:</label>
            <input id='brand-name' name='brand-name' type='text' class="form-control">

            <button type='submit' class="btn btn-md btn-info">Add</button>
        </form>
        <form action='/delete-brand' method='post'>
            <button type='submit' class="btn btn-md btn-danger">Clear</button>
        </form>

            {% if brands is not empty %}
        <div class="well" id="brands-pg1">
            <p>Featured brands:</p>
            <ul>
                {% for brand in brands %}
                <li><a href="/brands/{{ brand.getId }}">{{ brand.getbrandName }}</a></li>
                {% endfor %}

            </ul>
            {% endif %}
        </div>

    </div>
</body>
